<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.data.event.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/site.css?{{ site.time | date: '%s%N' }}">

    <link rel="icon" href="/static/images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% feed_meta %}
  </head>
  <body class="{% if page.body_class %}{{ page.body_class }}{% else %}{{ page.title | slugify }}{% endif %}">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="/" class="navbar-brand">
        <img src="/static/images/logo.svg" alt="{{ site.data.event.name }}">
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse"
        data-target="#pg-navbar-collapse" aria-controls="pg-navbar-collapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="pg-navbar-collapse">
        <ul class="navbar-nav">
          {% comment %} About {% endcomment %}
          <li class="nav-item dropdown">
            <a href="{% link about/index.md %}" class="dropdown-toggle"
              data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">
              About
              <span class="caret"></span>
            </a>

            <div class="dropdown-menu">
              <a href="{% link about/index.md %}" class="dropdown-item">What is
                PyGotham?</a>
              <a href="{% link about/childcare.md %}" class="dropdown-item">Childcare</a>
              <a href="{% link about/code-of-conduct.md %}"
                class="dropdown-item">Code of Conduct</a>
              <a href="{% link about/diversity.md %}"
                class="dropdown-item">Diversity</a>
              <a href="{% link about/privacy-policy.md %}"
                class="dropdown-item">Privacy Policy</a>
              <a href="{% link about/faq.md %}" class="dropdown-item">FAQ</a>
            </div>
          </li>

          {% comment %} Events {% endcomment %}
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
              role="button" aria-haspopup="true" aria-expanded="false">
              Events
              <span class="caret"></span>
            </a>

            <div class="dropdown-menu">
              {% assign talks = site.talks | where: 'type', 'talk' %}
              {% if talks.size > 0 %}
                <a href="{% link talks/index.md %}" class="dropdown-item">Talk
                  List</a>
                {% assign slotted_talks = talks | where_exp: 'item', 'item.slot' %}
                {% if slotted_talks.size > 0 %}
                  <a href="{% link talks/schedule.md %}"
                    class="dropdown-item">Talk Schedule</a>
                {% endif %}
              {% endif %}
              <a href="{% link events/socialevent.md %}"
                class="dropdown-item">Social Event</a>
              {% if site.data.event.lightning_talk_signup_url %}
                <a href="{{ site.data.event.lightning_talk_signup_url }}"
                  class="dropdown-item">Lightning Talk Signup</a>
              {% endif %}
              {% if site.data.event.open_space_signup_url %}
                <a href="{{ site.data.event.open_space_signup_url }}"
                  class="dropdown-item">Open Space Signup</a>
              {% endif %}
            </div>
          </li>

          {% comment %} Registration {% endcomment %}
          <li class="nav-item"><a href="{% link registration/index.md %}">Registration</a></li>

          {% if site.data.event.cfp_url %}
            <li class="nav-item">
              <a href="{{ site.data.event.cfp_url }}">Call for Proposals</a>
            </li>
          {% endif %}

          {% if site.data.event.talk_voting_url %}
            <li class="nav-item">
              <a href="{{ site.data.event.talk_voting_url }}">Vote on Proposals</a>
            </li>
          {% endif %}

          {% comment %} Sponsors {% endcomment %}
          <li class="nav-item dropdown">
            <a href="{% link sponsors/index.md %}" class="dropdown-toggle"
              data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">
              Sponsors
              <span class="caret"></span>
            </a>

            <div class="dropdown-menu">
              <a href="{% link sponsors/index.md %}"
                class="dropdown-item">Sponsors</a>
              <a href="{% link sponsors/prospectus.md %}"
                class="dropdown-item">Prospectus</a>
            </div>
          </li>

          {% comment %} Venue {% endcomment %}
          <li class="nav-item"><a href="{% link venue/index.md %}">Venue</a></li>
        </ul>
      </div>
    </nav>

    {{ content }}

    <div class="edit-this-page">
      <a href="{{ site.data.event.repository_url }}/edit/master/{{ page.path }}">
        Want to edit this page?
      </a>
    </div>

    <footer>
      <section class="container credits">
        {{ site.data.event.name }} is a production of
        <a href="https://bigapplepy.org">Big Apple Py</a>.<br>

        Artwork by <a href="https://www.jessiesima.com">Jessie Sima</a>. UX by
        <a href="https://www.linkedin.com/in/allisonrcameron">
          Allison Cameron</a>.

        <br>

        Questions? Comments? Please contact
        <a href="mailto:organizers@pygotham.org">organizers@pygotham.org</a>.<br>
        {% if site.data.event.repository_url %}
          <a href="{{ site.data.event.repository_url }}">Help improve this site!</a>
        {% endif %}
      </section>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
    <script>
      var today = new Date();
      $('div.day-of').each(function() {
        var $this = $(this);

        var start = new Date($this.data('start'));
        var end = new Date($this.data('end'));

        if (start <= today && today < end) {
          $this.show();
        }
      });
    </script>
  </body>
</html>
